.cuadro { 
    background: none;
    position:static;
    margin-left: 45px;
    margin-top: 10px;
    margin-right: 40px;
    display: flex;
    
}
.mision{
    background-color: rgb(187, 187, 187);
    border-radius: 20px;
    padding: 20px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.mision h1{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}
.mision h2 {
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
}
.mision h3 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}
.cuadro .plan {
    height: 400px;
    width: 600px;
    margin-top: 0px;
    border-radius: 20px;

}

@media(max-width:1000px){
    .cuadro{
        margin-right: 2%;
        margin-left: 2%;    
        display:block;
    }
    .mision{
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .mision h1{
        margin-top: 20px;
    }
    .cuadro .plan{
        height: 100%;
        width: 100%;
        margin-top: 0px;
    }
}